* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  background-color: black;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

canvas {
  border: 2px solid #444;
}